body {
    padding: 0;
    margin: 0;
}

.main {
    background: rgba(54, 84, 96, .7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.sign-up {
    border-radius: 10px;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    width: 60%;
    height: 75vh;
    display: grid;
    grid-template-columns: 40% auto;
    justify-items: center;
}

.description {
    border-right: 1px solid black;
    display: grid;
    grid-template-rows: 20% 12% 1fr;
    justify-items: center;
    width: 100%;
}

i {
    margin-top: 18px;
    font-size: 70px;
}

span.quaution {
    font-size: 17px;
}

.form {
    display: block;
    width: 100%;
    display: grid;
    grid-template-rows: 20% auto;
}

h1 {
    margin: auto;
}

form {
    margin-top: -40px;
    display: block;
    padding: 10px;
    width: 100%;
}


/*Input Style*/

div.name {
    position: relative;
    width: 90%;
    height: 70px;
    overflow: hidden;
}

input.name-input {
    font-size: 15px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
}

label.name-container {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
}

span.name-content {
    font-size: 20px;
    position: absolute;
    bottom: 1px;
    transition: all .5s ease;
}

label.name-container::after {
    content: "";
    padding-top: 30px;
    pointer-events: none;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 2px solid rgb(28, 236, 63);
    transform: translateX(-100%);
    transition: transform .5s ease;
}

input.name-input:focus+label.name-container::after,
input.name-input:valid+label.name-container::after {
    transform: translateX(0%);
}

input.name-input:focus+label.name-container span.name-content,
input.name-input:valid+label.name-container span.name-content {
    color: rgb(28, 236, 63);
    font-size: 17px;
    transform: translateY(-22px);
}